.applies-list {
  display: flex;
  flex-direction: column;
}

.action-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 15px;
  gap: 15px;
}

code:hover {
  background-color: lightgray;
}
