<p>Для трудоустойства в УрФУ требуется собрать некоторые документы.</p>

<h2>Общие документы</h2>

<div class="applies-list">

    <mat-checkbox class="required">
        Паспорт, копия паспорта 2 и 3 страницы и все страницы с печатями прописки
    </mat-checkbox>

    <mat-checkbox class="required">
        СНИЛС, копия СНИЛС или <a href="https://es.pfrf.ru/serviceSnilsDuplicate">уведомление о регистрации в форме АДИ-РЕГ</a>
    </mat-checkbox>

    <p>
        PDF генерируется около 5-10 минут; если не генерируется, то нужно получить справку лично в СФР
    </p>

    <mat-checkbox class="required">
        ИНН, копия ИНН или распечатанное свидетельство ИНН из <a href="https://service.nalog.ru/inn.do">nalog.ru</a> (введите и отправьте данные, дождитесь загрузки выписки, а потом нажмите «Получить выписку»)
    </mat-checkbox>

    <mat-checkbox class="required">
        Трудовая книжка, <a href="https://www.gosuslugi.ru/600302" target="_blank">выписка сведений о трудовой деятельности из ПФР</a>
    </mat-checkbox>

    <p>
        Если в выписке не заполнены поля «Подано заявление о продолжении ведения трудовой книжки» и «Подано заявление о предоставлении сведений о трудовой деятельности» и есть хоть одна строка в таблице «Сведения о трудовой деятельности зарегистрированного лица», значит должна быть бумажная трудовая книжка. Без неё трудоустроиться будет невозможно.
    </p>

    <mat-checkbox class="required">
        ФЛГ с результатом не старше 1 года
    </mat-checkbox>

    <mat-checkbox class="required">
        Прививочный сертификат
    </mat-checkbox>

    <mat-checkbox class="required">
        Сведения о прививке от Ковид (если есть; в прививочном сертификате или сертификат госуслуг)
    </mat-checkbox>

    <mat-checkbox class="required">
        2 цветных фото 3&#xD7;4
    </mat-checkbox>

    <mat-checkbox class="required">
        Реквизиты карты Мир (желательно Сбер или Синара)
    </mat-checkbox>

</div>

<h2 class="required">Сведения об образовании</h2>

<div class="applies-list">
    <mat-radio-group class="applies-list">
        <mat-radio-button>
            Диплом о высшем образовании по специальности, которая указана в вакансии
        </mat-radio-button>
        <mat-radio-button>
            Диплом о среднем профессиональном образовании по специальности, которая указана в вакансии (обязательный стаж 6 месяцев по айти-специальности в трудовой)
        </mat-radio-button>
        <mat-radio-button>
            Диплом о дополнительном профессиональном образовании по программе профессиональной переподготовки по направлениям, указанным в вакансии
        </mat-radio-button>
        <mat-radio-button>
            Справка об обучении в образовательном учреждении высшего образования по специальности, которая указана в вакансии
        </mat-radio-button>
    </mat-radio-group>

    <p>
        В справке об обучении обязательно должна присутствовать специальность, по которой происходит обучение. Например, для студентов УрФУ необходимо выбрать именно пункт «Справка об обучении», указав место предъявления «ФГАОУ ВО "Уральский федеральный университет", Дирекция информационных технологий». При получении такой справки могут быть отказы, в таком случае необходимо будет посетить деканат и попросить распечатать такую справку сиюминутно.
    </p>
</div>

<h2>Сведения о военной обязанности</h2>

<div class="applies-list">
    <mat-checkbox>
        Приписное свидетельство или военный билет
    </mat-checkbox>
</div>

<h2>Сведения о смене имени</h2>

<div class="applies-list">
    <mat-checkbox>
        Свидетельство о перемене имени и копия свидетельства
    </mat-checkbox>
</div>

<div class="action-list">
    <button mat-flat-button routerLink="/arrested-application">
        <mat-icon>
            arrow_back
        </mat-icon>
        Назад
    </button>

    <button mat-flat-button disabled>
        <mat-icon>
            arrow_forward
        </mat-icon>
        Далее
    </button>
</div>
