.applies-list {
  display: flex;
  flex-direction: column;
}

code:hover {
  background-color: lightgray;
}

.job-application-container {
  display: flex;
  justify-content: center;
}

mat-steper {
  max-width: 1980px;
}
